<form class="p-5 m-5 bg-secondary-subtle text-center">
        <div class="mb-3">
          <label for="peso" class="form-label ">Peso</label>
          <input type="number" class="form-control" [(ngModel)]="peso"  name="peso">
        </div>
        <div class="mb-3">
          <label for="altura" class="form-label">Altura</label>
          <input type="number" class="form-control" [(ngModel)]="altura"  name="altura">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto ">
            <button class="btn btn-primary" (click)="onClick()">Calcular</button>
          </div>
        <div class="mb-3">
              <label>{{text}}{{imc | number:'1.2-2'}}{{text2}}</label>
        </div>
        <div>
            <img src="{{image}}" class="img-fluid" alt="">
        </div>
        
</form>